<head>
    <meta charset="utf-8">
    <title>TP 2A - Flask</title>
    <link href="static/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="static/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
</head>