<!DOCTYPE html> 
<html lang="fr"> 
 
{% include 'bootstrap.j2' %} 
 
<body> 
    <header> 
        <div class="mt-4 p-5 bg-success text-white rounded"> 
            <h1>TP 2A - Flask - Exercice 2</h1> 
        </div> 
    </header> 
    <div class="container"> 
        <div class="my-3 p-3 bg-dark text-white rounded"> 
            <h1>Conversation avec {{ perso }}
            </h1> 
            <p>Continuer la conversation</p> 
        </div> 
        <div class="border rounded">
        {% for item in questions%}
        <p class="border">Question: {{item["question"]}}</p>
        <p class="border">{{ perso }}: {{item["reponse"]}}</p>
        {%endfor%}
        </div>

        <hr>
        <form action="/chat" method="post">
            
            <input type="text" class="form-control" name="question" placeholder="Votre question"> 
            <input class="btn btn-success" type="submit" value="Send">
            <a href="/"><button class="btn btn-danger" value="Back">Back</button></a>

        </form> 

</body> 
 
</html> 
 